/* https://github.com/orgs/mantinedev/discussions/1672#discussioncomment-7870643 */
@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

html {
  /* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page/39289453#39289453 */
  overflow-x: hidden;
  margin-right: calc(100% - 100vw);
}

/* Make sure all lists in the markdown content have list-style */
.markdown-body ol, .markdown-body ul {
  list-style: revert;
}

/* Make buttons still */
.mantine-active {
  &:active {
    transform: none;
  }
}

.color-link {
  color: var(--mantine-color-anchor);
  text-decoration: none
}

@media (hover: hover) {
  .color-link:hover {
    text-decoration:underline
  }
}
