/* https://github.com/orgs/mantinedev/discussions/1672#discussioncomment-7870643 */
@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

.scrollbar-shift-fix {
  /* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page/39289453#39289453 */
  overflow-x: hidden;
  margin-right: calc(100% - 100vw);
}

/* ============= Revert tailwind preflight modifications on markdown-body -- starts ============= */
/* https://tailwindcss.com/docs/preflight#lists-are-unstyled */
.markdown-body ol, .markdown-body ul {
  list-style: revert;
}

.markdown-body img, .markdown-body video {
  /* https://tailwindcss.com/docs/preflight#images-are-block-level */
  display: inline;
  vertical-align: revert;

  /* https://tailwindcss.com/docs/preflight#images-are-constrained-to-the-parent-width */
  max-width: none;
  height: initial;
}
/* ============= Revert tailwind preflight modifications on markdown-body -- ends ============= */

/* Make mantine buttons still */
.mantine-active {
  &:active {
    transform: none;
  }
}

.color-link {
  color: var(--mantine-color-anchor);
  text-decoration: none
}

@media (hover: hover) {
  .color-link:hover {
    text-decoration:underline
  }
}
