.header {
  background-color: var(--mantine-color-body);
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  padding: rem(4px) rem(8px);
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    color: var(--mantine-primary-color-filled);
  }
}